.game-container {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: auto;
}

.board-block {
  display: inline-block;
}

.category-title, .clue-tile {
  height: 75px;
  width: 150px;
  border: solid black;
}

.category-title {
  color: white;
}

.clue-tile {
  color: yellow;
  font-size: 25px;
}