.game-container {
  text-align: center;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.board {
  display: flex;
}

.category-title,
.clue-tile {
  height: 6rem;
  width: 12rem;
  /* padding: 1rem 2rem; */
  border-top: 0.25rem solid black;
  border-right: 0.25rem solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.category:nth-child(1) {
  border-left: 0.25rem solid black;
}

.clue-tile:nth-child(6) {
  border-bottom: 0.25rem solid black;
}

.category-title {
  color: white;
  font-size: 1.5rem;
}

.clue-tile {
  color: #d69f4c;
  font-size: 2.5rem;
  cursor: pointer;
}

.selected {
  border: solid #d69f4c;
}

.answered {
  cursor: default;
}

.airdate {
  font-size: 1.25rem;
}

.answer-form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.answer-submit {
  cursor: pointer;
}

.answer-form input {
  border-color: #00020f;
  border-style: solid;
  border-width: 0.25rem;
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.answer-form button[type='submit'] {
  background-color: #d69f4c;
  color: white;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem;
  border-color: #00020f;
  border-style: solid;
  border-width: 0.25rem;
  margin-top: 1rem;
}

.answer-form button[type='submit']:hover {
  border-color: white;
}

.question,
.money,
.answer {
  font-size: 1.5rem;
  padding-top: 1rem;
}
