@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

* {
  margin: 0;
}

html {
  background-color: #071277;
}

html,
body,
#root,
main {
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
